doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=EDGE')
    title Tweet-threader
    meta(name='description', content='An app that helps to create twitter threads')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #App
  script(defer, src='/build/vendor.bundle.js')
  script(defer, src='/build/bundle.js')