doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=EDGE')
    title Tweet-threader
    meta(name='description', content='Create threads on Twitter easily.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
  body
    #root(data-user='undefined')
  script(defer='', src='/build/vendor.js')
  script(defer='', src='/build/app.js')
