/**
 * colors
 */

$twitter-dark-blue: #0084b4;
$twitter-logo-blue: #00aced;
$twitter-verified-blue: #1dcaff;
$twitter-background-blue: #c0deed;
$white: #FFF;
$link-water: #e0eff6;
$oslo-gray: #949697;
$text-gray: #333;

/**
 * Dimensions
 */

$base-font-size: 16px;
