/**
 * Login page
 */

.login-page {
  background-color: #3a92c8;
  background: radial-gradient(circle, #6bb1db, #3a92c8);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  section {
    display: block;
    margin-top: -25vw;
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
  .logo {
    display: block;
    text-align: center;
    font-size: 2.5em;
  }
  p {
    display: block;
    font-size: 1.2em;
    margin-top: 1em;
    color: $link-water;
  }
  button {
    margin-top: 2.5em;
  }
}


/**
 * Tweet page
 */

.tweet-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  background-color: $abbey;
  min-height: 100vh;
  .container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 35rem;
    margin: 0.5em auto;
    .header {
      background-color: #292F33;
      padding: 0.6rem;
      border-radius: 4px 4px 0 0;
      .logo {
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        display: inline-block;
        margin-bottom: 0.60rem;
      }
      aside {
        display: block;
        float: right;
        width: 100%;
        max-width: 200px;
        div {
          float: right;
          overflow: hidden;
          * {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: right;
          }
          .fullname {
            font-size: 0.9em;
            color: #F5F8FA;
          }
          .username {
            color: #8899A6;
            font-size: 0.8em;
            margin-top: 0.4em;
          }
        }
        picture {
          float: right;
          width: 36px;
          height: 36px;
          border-radius: 4px;
          margin-left: 0.5rem;
          img {
            border-radius: inherit;
            width: inherit;
            height: inherit;
          }
        }
      }
    }
    .progress {
      position: sticky;
      padding: 0.5rem;
      text-align: right;
    }
  }
  .tweet-forms {
    position: relative;
    .hide-remove-btn {
      .remove {
        display: none;
      }
    }
  }
  .form-control {
    display: block;
    text-align: center;
  }
}
